.circle1{
    border: solid 1px #acd9ee;
    border-radius: 5px 5px 5px 5px;
    margin: 1px;
}

.circle2{
    border: solid 1px #000000;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 1px;
}

.n-bg{
    background-color: #70c7d6;
    border-radius: 25px 25px 25px 25px;
}

.text-large{
    font-size: 25px;
}


